<div class="row m-t">
    <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
        <a href="" class="thumb-md pull-left m-r">
            <img ng-src='{{item.img}}' class="img-circle">
        </a>
        <div class="clear">
            <div class="m-b-sm m-t-xs">
                <span class="h3 text-black">{{item.name}}</span>
            </div>
            <p>
                <small>工信号：{{item.number}}</small>
            </p>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
        <div class="pull-right text-center">
            <button class="btn btn-default">{{item.title}}</button>
            <button class="btn btn-success">{{item.join}}</button>
        </div>
    </div>
</div>