<div class="modal-header">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">解散组织</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <span class="h5"><b class="text-danger">解散组织将删除所有员工和项目，带来的后果将无法预计!</b></span>
        </div>
    </div>
</div>
<div class="modal-footer" >
    <button class="btn btn-default" ng-click="close()">取消</button>
    <button class="btn btn-danger" ng-click="dismissProjectOrg()">确定删除</button>
</div>