<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope" ng-controller="PersonalHomepageController">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
        <div class="wrapper-xs padder bg-white-opacity">
            <div class="row m-t-sm">
                <div class="col-sm-7">
                    <a href="" class="thumb-lg pull-left m-r">
                        <img src={{headerImgUrl}} class="img-circle">
                    </a>

                    <div class="clear m-b-sm">
                        <div class="m-b-sm m-t-sm">
                            <span class="h3 text-black">{{realName}} <i class="icon icon-symbol-male text-info text-md" ng-show="male"></i> <i class="icon icon-symbol-female text-danger text-md" ng-show="!male"></i></span>
                            <small class="m-l">工信号:{{conductssId}}</small>
                        </div>
                        <button ng-if="null != cardChipId" class="btn btn-xs btn-success btn-rounded"><i class=""></i>身份已认证</button>
                        <button ng-if="null == cardChipId" class="btn btn-xs btn-error btn-rounded"><i class=""></i>身份未认证</button>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="pull-right pull-none-xs text-center">
                        <button class="btn btn-default btn-sm" ng-show="editSelf" ng-click="goEditSelf()"><i
                                class="icon icon-note"></i> 编辑
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-xs padder bg-white b-b">
        <ul class="nav nav-pills nav-sm">
            <!--<li ng-class="{'active':clickIndex == 0}" ng-click="setClickIndex(0)"><a ui-sref="app.default.personalInfo">个人信息</a></li>-->
            <!--<li ng-class="{'active':clickIndex == 1}" ng-click="setClickIndex(1)"><a ui-sref="app.default.personalProjectSuffer">项目经历</a></li>-->
            <!--<li ng-class="{'active':clickIndex == 2}" ng-click="setClickIndex(2)"><a ui-sref="app.default.personalCommentEval">评价留言</a></li>-->
            <!--<li ng-class="{'active':clickIndex == 3}" ng-click="setClickIndex(3)"><a ui-sref="app.default.personalEventEval">恶性重大事件评价</a></li>-->

            <li ng-class="{'active':clickIndex == 0}" ng-click="setClickIndex(0)"><a ng-click="gotoPage('app.default.personalInfo')">个人信息</a></li>
            <li ng-class="{'active':clickIndex == 1}" ng-click="setClickIndex(1)"><a ng-click="gotoPage('app.default.personalProjectSuffer')">项目经历</a></li>
            <!--<li ng-class="{'active':clickIndex == 2}" ng-click="setClickIndex(2)"><a ng-click="gotoPage('app.default.personalCommentEval')">评价留言</a></li>
            <li ng-class="{'active':clickIndex == 3}" ng-click="setClickIndex(3)"><a ng-click="gotoPage('app.default.personalEventEval')">恶性重大事件评价</a></li>-->
        </ul>
    </div>
    <ui-view></ui-view>
</div>