<div class="wrapper-xs" ng-controller="PersonalEventEvalController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row m-b-sm">
                <div class="col-sm-12 text-right">
                    <span>恶性重大事件：</span>
                    <button ng-class="{'btn-info':clickIndex == 3}" class="btn btn-default btn-xs btn-info" ng-click="changeCommentorType(4, 3)">全部</button>
                    <button ng-class="{'btn-info':clickIndex == $index}" class="btn btn-default btn-xs" ng-repeat="type in eventTypes"
                            ng-click="changeCommentorType(type.key, $index)">{{type.value}}
                    </button>
                </div>
            </div>



            <div class="row" ng-show="events.length == 0">
                <div class="text-center">
                    <div class="clear">
                        <div class="text-3x text-muted">
                            <i class="icon icon-speech"></i>
                        </div>
                        <p class="text-md" >
                            该选项下您目前还没有恶性重大事件评价
                        </p>
                    </div>
                </div>
            </div>


            <div class="m-b b-l m-l-md streamline" ng-show="events.length > 0">
                <div ng-repeat="event in events">
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img ng-src="{{event.commentorHeaderImg}}" ng-click="goCommentorHomePage(event)" class="img-circle" alt="...">
                    </a>

                    <div class="m-l-lg panel b-a">
                        <div class="panel-heading pos-rlt b-b b-light">
                            <span class="arrow left"></span>
                            <span class="text-info">{{event.commentor}}</span>
                            <label class="label bg-light dker m-l-xs font-normal">{{event.projectOrg}}</label>
                                <span class="text-muted m-l-sm pull-right">
                                    <i class="fa fa-clock-o"></i>
                                    {{event.createTime}}
                                </span>
                        </div>
                        <div class="panel-body">
                            <div>
                                <span class="m-r">事件时间：{{event.startTime}}</span><span>事件地点：{{event.detailAddr}}</span>

                                <p class="m-t-xs">{{event.detailComment}}</p>

                                <div class="m-t-xs">
                                    <div class="m-t-xs">
                                        <ng-gallery images="event.bigEventImgs"></ng-gallery>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix m-b">
                    <div class="m-l-xxl">
                        <button class="btn btn-default btn-sm w-full" type="button" ng-click="getMore()"
                                ng-show="showGetMore">加载更多
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>